/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .keypad {
    padding: 0;
  }

  .keypad table {
    width: 100vw;
    height: 120vw;
background-color: red;
  }

.keypad table td {
   height: 100%; */
   width: 100%;
text-align:center;
}
#keypad table td .keepButton {
  color: orange;
}

.keypad table td div {
  width:100%;
  height:100%;
  position:relative;
overflow: hidden;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .keypad table {
    width: 400px;
    height: 450px;
  background-color: green;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .keypad table {
background-color: blue;
  }

  .keypad table button {
    width: 43px;
    height: 43px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .keypad table {
    width: 300px;
    height: 300px;
background-color: aqua;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .keypad table {
background-color: orange;
  }
}

/************ END OF MEDIA **********/

/* .keypad table { */
/*   background-color: black; */
/*   border-collapse: collapse; */
/* } */
html, body {
    height: 100%;
}
.keypad table td {
  border-collapse: collapse;
  border-color: white;
  border-width: 2px;
}


.keypad table button {
  background-color: black;
  color: white;
  border-radius: 0;
  width: 100%;
  border-color: blue;
  height:100%;
  position:relative;
}


/* Use two ids to increase specificity */
.keypad .rollButton {
  color: green;
}

.keypad .keepButton {
  color: orange;
}

.keypad .dButton {
  color: cornflowerblue;
}

#favoriteButton {
  color: orange;
  background-color: aqua;
}

.keypad div {
  display: inline-block;
}


/************ END IN USE **********/


/*****************************
.blink {
  color: #FFF !important;
  background: red !important;
}
******************************/
/*
#window {
  background-color: whitesmoke;
  padding: 0 2px;
  margin: 5px;
  color: black;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
 */
