%stacked {
  line-height: 1;

  position: absolute;
  left: 0;
  width: 100%;
}


// Navbar


// Page content
.calculator {
  .output {
    font-size: 2em;
    display: flex;
    height: 1.35em;
    border: 1px solid;
  }

  .favorite-status {
    flex: 1;
    transition: background-color $favs-trans-dur;

    &.active-state {
      transition: background-color 0s;

      background-color: $color-active-background;
    }

    i.icon {
      position: absolute;
      display: inline-block;

      &.is-favorite { display: none; }
    }

    &.is-favorite {
      pointer-events: none;

      i.icon {
        display: none;
        color: $color-favorite;

        &.is-favorite { display: inline-block; }
      }
    }
  }

  .display {
    flex: 10;
    width: 100%;
    padding:  {
      right: 3px;
      left: 3px;
    }

    .invalid {
      text-decoration: red underline overline;
      color: red;
    }
  }

  .display-favorite {
    font-size: 60%;
    line-height: 0;

    position: relative;
    top: -0.75em;

    vertical-align: baseline;
  }

  .favorite-add {
    position: relative;

    display: block;

    text-align: center;

    i {
      &.ion-ios-star,
      &.ion-ios-star-outline {
        @extend %stacked;

        font-size: $star-fs;

        margin-top: 3px;
      }

      &.icon.ion-plus {
        @extend %stacked;

        font-size: 0.75em;

        margin-top: 3px;
        margin-left: 12px;
      }
    }
  }

  .keypad {
    font-size: 2em;
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    column-count: 4;
    column-gap: 0;
  }

  .key {
    line-height: 2em;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% / 8.6075);
    transition: background-color $favs-trans-dur;
    text-align: center;
    border: 1px solid;

    &.active-state {
      transition: background-color 0s;
      background-color: $color-active-background;
    }
  }

  .key-disabled { pointer-events: none; }

  .key-roll {
    line-height: 4.5em;
    height: calc(100% / 8.6075 * 2);
  }

  // .key-favorite {
  //   &.key-favorite-set {
  //     position: relative;
  //
  //     display: block;
  //
  //     text-align: center;
  //
  //     i {
  //       &.ion-ios-star {
  //         @extend %stacked;
  //
  //         font-size: $star-fs;
  //
  //         margin-top: -3px;
  //       }
  //
  //       &.icon.ion-plus {
  //         @extend %stacked;
  //
  //         font-size: 0.75em;
  //
  //         margin-left: 12px;
  //       }
  //     }
  //   }
  //
  //   &.key-favorite-get i.ion-ios-star {
  //     font-size: $star-fs;
  //   }
  // }

  .variable {
    font:  {
      family: serif;
      style: italic;
    }
  }

  .long-die-number { letter-spacing: -1px; }
}

html.android,
html.ios {
  .calculator .keypad-container { height: 100%; }
}
