// **** History ****

// Navbar

//
//  See the Navbar section on the Favorites tab for information related to the
//  History tab navbar
//


// Page content
#history .list-block {
  margin-top: 25px;

  .list-block-label {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
