$android-icon-font-size: 24px;
$ios-icon-font-size: 30px;

$color-favorite: goldenrod;

$favs-trans-dur: 0.3s;
$favs-initial-x-ios: -37px;
$favs-initial-x-android: -50px;
$favorite-star-font-size: 1.93em;
$favorite-plus-font-size: 0.66em;
$star-fs: 2em;

$color-active-background: #d9d9d9;

.display-die { color: green; }
.display-operator { color: black; }
.display-keep { color: orange; }
.display-digit { color: cornflowerblue; }
.display-favorite { color: $color-favorite; }



// **** Global ***
html {
  display: none;

  // Desktop
  &:not(.ios):not(.android) { background-color: inherit; }
}

@import 'side-panel';
@import 'calculator';
@import 'favorites';
@import 'history';
@import 'tab-bar';
