$android-icon-font-size: 24px;
$ios-icon-font-size: 30px;

$background-color-key-error: red;
$background-color-key-confirm: gray;

$color-favorite: goldenrod;

$favs-trans-dur: 0.3s;
$favs-initial-x-ios: -37px;
$favs-initial-x-android: -50px;
$favorite-star-font-size: 1.93em;
$favorite-plus-font-size: 0.66em;
$star-fs: 2em;

$color-active-background: #d9d9d9;

.display-d { color: green; }
.display-operation { color: black; }
.display-keep { color: orange; }
.display-digit { color: cornflowerblue; }

.display-favorite {
  font-size: 60%;
  line-height: 0;

  position: relative;
  top: -0.75em;

  vertical-align: baseline;

  color: $color-favorite;
}

%stacked {
  line-height: 1;

  position: absolute;
  left: 0;
  // right: 25px;
  width: 100%;
}

// **** Global ***
html {
  display: none;

  //
  // Desktop
  //
  &:not(.ios):not(.android) { background-color: inherit; }
}

// **** NavBar ****
// Make sure
.panel.panel-right .navbar {
  .left,
  .center,
  .right {
    display: flex;
    flex: 1;
  }

  .left {
    justify-content: flex-start;
    margin-right: auto;
  }

  .right {
    justify-content: flex-end;
    margin-left: auto;
  }
}
html.ios .panel.panel-right .navbar .center { justify-content: center; }

// **** Side Panel ****
// Make both the main page and the side panel slide left or right together
html body.with-panel-right-reveal {
  .panel {
    width: 100%;

    .content-block-title {
      font-size: 17px;
      text-transform: none;
    }
  }

  // Normal
  .panel.panel-right.panel-reveal { transform: translate3d(100%, 0, 0); }
  .views { transform: translate3d(0, 0, 0); }

  // With panel revealed
  &.with-panel-right-reveal {
    .panel.panel-right.panel-reveal { transform: translate3d(0, 0, 0); }
    .views { transform: translate3d(-100%, 0, 0); }
    .panel-overlay { transform: translate3d(-100%, 0, 0); }
  }
}

html.ios body.with-panel-right-reveal .panel { background: rgb(239, 239, 244); }

html.android body.with-panel-right-reveal .panel .navbar .link .ios {
  display: none;
}

html.android i.icon-ios { display: none; }
html.ios i.icon-android { display: none; }

// **** Calculator ****

// Navbar

// Page content
.calculator {
  .output {
    font-size: 2em;
    display: flex;
    height: 1.35em;
    border: 1px solid;
  }

  .favorite-status {
    flex: 1;
    transition: background-color $favs-trans-dur;

    &.active-state {
      transition: background-color 0s;

      background-color: $color-active-background;
    }

    i.icon {
      position: absolute;
      display: inline-block;

      &.is-favorite { display: none; }
    }

    &.is-favorite i.icon {
      display: none;
      color: $color-favorite;

      &.is-favorite { display: inline-block; }
    }
  }

  .display {
    flex: 10;
    width: 100%;
    padding:  {
      right: 3px;
      left: 3px;
    }

  }

  .favorite-add {
    position: relative;

    display: block;

    text-align: center;

    i {
      &.ion-ios-star,
      &.ion-ios-star-outline {
        @extend %stacked;

        font-size: $star-fs;

        margin-top: 3px;
      }

      &.icon.ion-plus {
        @extend %stacked;

        font-size: 0.75em;

        margin-top: 3px;
        margin-left: 12px;
      }
    }
  }

  .keypad {
    display: flex;
    flex-direction: row;
    flex: 8;

    height: 100%;

    border: 1px solid;
  }

  .keypad-column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .key {
    font-size: 2em;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: background-color $favs-trans-dur;

    border: 1px solid;

    &.active-state {
      transition: background-color 0s;

      background-color: $color-active-background;
    }
  }

  .key-disabled { pointer-events: none; }

  .key-roll {
    flex: 2;

    padding-top: 2px;
  }

  .key-favorite {
    &.key-favorite-set {
      position: relative;

      display: block;

      text-align: center;

      i {
        &.ion-ios-star {
          @extend %stacked;

          font-size: $star-fs;

          margin-top: -3px;
        }

        &.icon.ion-plus {
          @extend %stacked;

          font-size: 0.75em;

          margin-left: 12px;
        }
      }
    }

    &.key-favorite-get i.ion-ios-star {
      font-size: $star-fs;
    }
  }

  .variable {
    font:  {
      family: serif;
      style: italic;
    }
  }

  .long-die-number { letter-spacing: -1px; }

  .confirm {
    background-color: $background-color-key-confirm;
  }

  .error {
    background-color: $background-color-key-error;
  }
}

html.android,
html.ios {
  .calculator .keypad-container {
    // (1.36em height  + 2 x 1px border) Total height of div.output
    // 16 px Height of horizontal borders in keypad
    //   (8 rows x 2 borders/row x 1px borders)
    // 4px more (not sure where these are from)
    height: calc(100% - (1.35em + 2px) - 16px - 4px);
  }
}


// **** Favorites ****

// Navbar
#favorites,
#history {
  .page.edit-mode .navbar {

    a.link {
      transition: opacity $favs-trans-dur;
      opacity: 0;

      &.edit-mode {
        transition: opacity $favs-trans-dur;
        opacity: 1;
      }

      &.edit { pointer-events: none; }
    }
  }

  .page .navbar {
    a.link {
      transition: opacity $favs-trans-dur;
      opacity: 1;

      &.done {position: absolute; }

      &.edit-mode {
        transition: opacity $favs-trans-dur;
        opacity: 0;
      }

      .right a.link:first-of-type { position: absolute; }
    }
  }
}

html.android {
  #favorites,
  #history {
    .navbar a.link.ios { display: none; }
  }
}

html.ios {
  #favorites,
  #history {
    .navbar a.link.android { display: none; }
  }
}

// Page content
#favorites .page.edit-mode {
  li.active-state { background-color: $color-active-background; }

  .sortable-handler {
    transition: $favs-trans-dur;
    background-position-x: calc(-20px + 100%);
  }

  .swipeout-opened {
    .sortable-handler {
      transition: $favs-trans-dur;
      background-position-x: 150%; //calc(20px + 100%);
    }

    .favorite-edit,
    .favorite-delete {
      pointer-events: none;
    }

  }

  .item-content.swipeout-content {
    left: 0;
    transition: $favs-trans-dur;

    .item-inner {
      transition: $favs-trans-dur;

      // Based on definition in Framework7
      background: {
        position: calc(100% - 50px) center;
        image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E"); // sass-lint:disable-line max-line-length, quotes
      }

      a.favorite-edit { width: 100%; }
    }
  }
}

#favorites .page .item-content.swipeout-content {
  i.icon { font-size: 1.5em; }
  .item-media i.icon { color: red; }

  .item-inner {
    flex-direction: column;
    align-items: flex-start;

    padding-right: 35px;

    transition: $favs-trans-dur;

    // Based on definition in Framework7
    background:  {
      position: -100% center;

      image: none;
      repeat: no-repeat;
      size: 10px 20px;
    }
  }

  .item-subtitle { margin-left: 10px; }
}

html.android #favorites .page .item-content {
  left: $favs-initial-x-android;
  transition: $favs-trans-dur;
}

html.ios #favorites .page .item-content {
  left: $favs-initial-x-ios;
  transition: $favs-trans-dur;
}


// **** History ****

// Navbar

// See the Navbar section on the Favorites tab for information related to the
// History tab navbar


// Page content
#history .list-block {
  margin-top: 25px;

  .list-block-label {
    margin-top: 0;
    margin-bottom: 10px;
  }
}


// **** Tab bar ****
.toolbar.tabbar .tab-link i.icon { display: none; }

html.android .toolbar.tabbar {
  .tab-link {
    padding-top: 6px;

    i.icon.icon-android {
      font-size: $android-icon-font-size;

      display: block;
    }

    .tabbar-label { font-size: 12px; }
  }

  .tab-link-highlight { height: 6px; }
}

html.ios .toolbar.tabbar {
  a.tab-link {
    padding: 0;

    &:not(.active) i.icon.icon-ios[class*='-outline'] {
      display: block;
    }

    &.active i.icon.icon-ios:not([class*='-outline']) {
      display: block;
    }

    i.icon.icon-ios {
      font-size: $ios-icon-font-size;
      display: none;
      opacity: 1;
    }
  }

  &.tabbar-labels span.tabbar-label { font-size: 14px; }
}
